<!-- <h1> Update Figure </h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  
  <label>Name:</label>
  <br></br>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"> -->