<h1> Create a New Figure </h1>

<form action='/figures' method="POST">

  <label>Figure Name</label>
  <input type="text" name="name" id="figure[name]">

  <label>Landmark Name</label>
  <input type="text" name="landmark_name" id="landmark[name]">

  <label>Title Name</label>
  <input type="text" name="title_name" id="title[name]">

  <input type="submit" value="Create New Figure">
</form>
