<h1> Create a New Figure </h1>

<form action ='/figures' method = "POST">

  <label> Title </label>
  <input type="text" name="title" id="figure_title">

  <label> Figure </label>

  <label> Landmark </label>

</form>
